
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  float: left;
  background-color: #ccc;
  margin-left: 0;
  height: 100vh;
  width: 1vw;
}

.sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
.sidebar li {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-width: 1px;
  color: black;
  text-align: left;
  list-style-type: none;
}

.sidebar li.normal:hover{
  background-color: #aaa;
}

.sidebar li.active{
  background-color: black;
  color: white;
}

.standard-struct {
  width: 100%;
  top: 30px;
  height: 95vh;
  margin: auto;
  display: block;
  left: 0;
  z-index: 0;
  border-style: solid;
}

.fixed-struct {
  width: 60%;
  float: left;
  top: 30px;
  height: 95vh;
  margin: auto;
  display: block;
  left: 0;
  z-index: 0;
  border-style: solid;
}
.ControlBar {
  background-color: #ccc;
  border-radius: 5px;
  height: 5vh;
}

.algorithm-description{
  background-color: white;
  height: 90%;
  margin-top: 10px;
  border-radius: 20px;
  overflow: scroll;
}

.algorithm-description .header{
  background-color: black;
  color: white;
  height: 15%;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.heap-default{
  background-color: white;
  color: black;
}

.heap-focus{
  background-color: black;
  color: white;
}

.heap-wrong{
  background-color: LightCoral ;
  color: black;
}

.heap-correct{
  background-color: Chartreuse ;
  color: black;
}

.values-table div{
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  font-style: italic;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
  font-style: bold;
}

.dropdown-button{
  background-color: black;
  font-style: bold;
  color: white;
  text-align: center;
  border-color: transparent;
  outline: none;
  width: 100%;
  height: 40px;
}

.dropup{
  position: relative;
}

.dropup:focus{
  background-color:rgba(100, 100, 100, 1);
  outline: none;
}

.dropup:hover{
  background-color: rgba(100, 100, 100, 1);
}

.actions-menu{
  display: none;
  position: absolute;
  bottom: 40px;
  width: 100%;
  z-index: 1;
}

.actions-menu button{
  display: block;
  background-color: black;
  color: white;
  width: 100%;
  border: none;
  text-decoration: none;
}

.actions-menu button:hover{
  background-color: gray;
  font-style: bold;
}

.actions-menu button:focus{
  outline: none;
}
.dropup:hover .actions-menu{
  display: block;
}

.top-bar{
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.dropdown{
  position: relative;
}

.dropright{
  position: relative;
}

.dropdown-menu{
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.right-menu{
  display: none;
  position: absolute;
  left: 100%;
  z-index: 1;
  width: 150px;
  top: 0;
}

.dropdown:hover{
  background-color: gray;
}

.dropright:hover .right-menu{
  display: block;
}
.dropdown:hover .dropdown-menu{
  display: block;
  top: 28px;
}