.algoThumbnail{
  position: relative;
  margin-top: 20px;
  height: 300px;
  
  width: 100%;
  background-color: #121558;
  color: white;
  border-radius: 10px;
}

.thumb-menu{
  position: absolute;
  z-index: 1;
  visibility: hidden;
  color: black;
  margin-right: 10px;
  opacity: 1.0;
  width: 100%;
}

.thumb-menu button{
  width: 100%;
  outline: none;
  border-style: none;
  height: 40px;
  background-color: #121558;
  color:white;
}

.thumb-menu button:hover{
  background-color: #4C5090;
}
.algoThumbnail:hover{
  background-color: #2B3B6B;
  border-color: #2B3B6B;
}
.algoThumbnail:hover .algoPicture{
  opacity: 0;
}

.algoThumbnail:hover .algoName{
  opacity: 0;
}
.algoThumbnail:hover .thumb-menu{
  visibility: visible;
}
.home-title{
  color: white;
  height: 35%;
  padding: 30px;
}

.home-title h1, .home-title h2{
  text-align: center;
}

.home-content{
  padding: 10px;
}

.algoName{
  text-align: center;
  font-size: 20px;
  padding-top: 30px;
  font-weight: bold;
}


#home{
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  background: rgb(2,0,36);
  background: linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(18,21,88,1) 25%, rgba(0,212,255,1) 100%);
}
